@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  color: ghostwhite;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: ghostwhite;
}

ul {
  list-style-type: none;
}

.header-container {
  background: rgba(0, 0, 0, 0.932);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* BURGER MENU STYLING */

.nav-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 99;
}

.nav-container div {
  width: 25px;
  height: 4px;
  background-color: ghostwhite;
  margin: 5px;
  transition: all 1s ease;
  cursor: pointer;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(0, 8px);
}

.toggle .line2 {
  transform: rotate(45deg) translate(2px, -6px);
}

#languageText {
  animation-name: rainbow;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 2.5rem;
  padding: 1.5rem;
}

.nav-links {
  background: rgba(0, 0, 0, 0.979);
  padding: 1rem;
  height: 100vh;
  width: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
  font-size: 2rem;
  position: absolute;
  display: none;
}

.nav-links > li {
  padding: 1rem;
}

.nav-links > li > a {
  animation-name: rainbow;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.nav-links > li > a:hover {
  color: gray;
  transition: all 0.4s ease;
}

#switchLang {
  cursor: pointer;
}

/* Scroll down arrow animation styling */

.arrow {
  font-size: 1.5rem;
  animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}

#skill-box {
  height: 100vh;
  background: ghostwhite;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.skill-box {
  list-style-type: katakana;
}

.skill-box > li {
  padding: 1rem;
  font-weight: 900;
  animation-name: rainbow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* PORTFOLIO STYLING  */

#portfolio {
  height: 100vh;
  background: rgba(0, 0, 0, 0.932);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-h1 {
  color: ghostwhite;
  margin: 4rem;
  font-size: 2rem;
}

.portfolio-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: auto;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner,
.flip-card:active {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: ghostwhite;
  color: rgba(0, 0, 0, 0.726);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demo-link {
  color: rgba(0, 0, 0, 0.726);
  border: 1px solid rgba(0, 0, 0, 0.726);
  border-radius: 2px;
  padding: 0.5rem;
  margin: 1rem;
  transition: all 0.3s ease;
}

.demo-link:hover {
  background: #d65db280;
}

@keyframes rainbow {
  0% {
    color: #845ec2;
  }
  25% {
    color: #d65db1;
  }
  50% {
    color: #ff6f91;
  }
  75% {
    color: #ff9671;
  }
  100% {
    color: #ffc75f;
  }
}
